* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

#header-iniziale {
    height: 176px;
    background-color: #4EA0FF;
    background-image: url(../img/pattern.png);
}

#logo {
    position: relative;
    width: 297px;
    top: 85px;
    left: 10px;
}

main, aside {
    margin-left: 10px;
}

h1 {
    font-size: 70px;
}

.written-by {
    margin-bottom: 20px;
}

#testata-giornalistica { 
    color: #92D5F2;
}

.color-grey {
    color: #B4B4B4;
}

#first-photo {
    width: 972px;
}

#second-photo {
    width: 831px;
}

figure {
    margin-bottom: 15px;
}

section > p {
    font-size: 20px;
    margin-bottom: 20px;
}

span {
    background-color: #FFFF00;
}

ul {
    margin-left: 18px;
    margin-bottom: 30px;
    font-size: 20px;
}

table {
    width: 100%;
    margin-bottom: 15px;
    table-layout: fixed;
    font-size: 20px;
}

thead {
    background-color: #20A9E5;
    text-align: start;
    color: white;
}

th {
    text-align: left;
  }

tbody {
    background-color: #B1E5F2;
}

tbody tr:nth-child(2) {
    background-color: white;
}

aside > h2 {
    margin-bottom: 10px;
}

.interesting-articles-title {
    position: relative;
    bottom: 205px;
    left: 18px;
    color: white;
}